* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 50px;
  display: flex;
  background: black;
}

.container {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.deck {
  width: 25%;
  height: 33.333%;
  position: relative;
  transition: all .2s;
  transform-style: preserve-3d;
  transform: scale(1);
}

.deck.flip {
  transform: rotateX(180deg);
}
.frontCard {
  transform: rotateX(180deg);
}

.deck:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.frontCard, .backCard {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 2px;
}
